body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 10px;
  background-color: #f5f5f5;
}

* {
  margin: 0;
  box-sizing: border-box;
}

header {
  padding: 10px;
}

header h1 {
  font-size: 24px;
}

main {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.main h2 {
  font-size: 16px;
}

form {
  display: grid;
  gap: 10px;
  font-family: sans-serif;
}

.form-fields-container {
  display: contents;
}

.field-wrapper {
  display: grid;
  gap: 4px;
}

input,
textarea {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: sans-serif;
  width: 100%;
}

button[type='submit'] {
  padding: 0.5em 2em;
  width: fit-content;
}

code {
  display: block;
  background: #111;
  color: #fff;
  padding: 20px;
}
